<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- 
        HTML File for displaying header of Carbon Copy Web Application
        Associated Assignment: Phase 1 3-Tier Web Application
        SENG3210 - Software Architecture 
        
        Header of Carbon Copy
        Author: Eli Lindahl
        Date: 2/16/2020
      -->
      <meta charset="UTF-8">
      <meta name="keywords" content="Image,Hosting,Upload,Social,Media">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <title><%= title %></title>
  </head>
  <style>
    body {
      overflow-x: hidden;
    }
    .upload-top {
      padding: 40px 0px;
    }
    .col-page-spacer {
      margin-top: 50px;
      padding-left: 24px;
      padding-right: 24px;
    }
    .col-page-spacer.row {
      display: flex;
      flex-wrap: wrap;
    }
    .col-page-spacer.row.col {
      flex: 50%;
    }
    .center-box {
      margin-right: auto!important;
      margin-left: auto!important;
    }
    .carousel-inner {
      background-color: grey;
    }
<<<<<<< HEAD
=======
    .row.col img {
      vertical-align: middle;
    }
    .card-img-top {
      width: 100%;
      height: 20vw;
      object-fit: cover;
    }
>>>>>>> f1d39c753fa133bf1531613c93a1f6771acd440f
  </style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Carbon Copy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/upload">Upload<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/collection">Collection</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Info
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/about">About</a>
              <a class="dropdown-item" href="/contact">Contact</a>
              <a class="dropdown-item" href="/privacy">Privacy</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/terms-of-service">Terms of Service</a>
              </div>
          </li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <a class="nav-link" href="/login">Login</a>
      </div>
    </nav>